.container-main {
  height: 100vh;
  width: 100vw;

}

.header-main {
  background: linear-gradient(90deg, #05EDE3 0%, rgba(100, 96, 251, 1) 100%);
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-avatar {
  margin-right: 16px;
}

.header-avatar:hover {
  cursor: pointer;
}

.header-saida {
  margin-left: 16px;
}

.header-saida:hover {
  cursor: pointer;
}

.container-pagina {
  display: flex;
  justify-content: space-evenly;

}

.container-tabela {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;

}

.tabela,
tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 90%;

}

.cabecalho {
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 26px;
  height: 40px;

}

.tabela-campo {
  margin-left: 25px;
  text-align: left;
}

.normal {
  width: 18%;
}

.resumo {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 250px;
  height: 180px;
  padding: 30px 33px;
}

.resumo h3 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  color: #2F2F2F;
}

.resumo span {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 15px;
  color: #2F2F2F;
}

.total {
  border-top: 1px solid #EAEAEA;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
  padding: 16px 0px;
  font-weight: 700;
}

.registro {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  all: unset;
  background-color: #7978D9;
  border-radius: 5px;
  padding: 11px 47px;
  margin-top: 43px;
  width: 160px;
  height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.filtro {
  width: 80px;
  height: 30px;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0 0 105px;
  cursor: pointer;
}