.login-container {
  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}


.container-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  width: 610px;
  height: 124px;
  color: #FFFFFF;
  margin-right: 100px;
}

.container-text h1 {
  margin-top: -50px;
}

.container-text h3 {
  margin-top: 33px;
}


.change-color {
  color: #7978D9;
}

.header {
  margin: 46px 105px;
}

.btn {
  all: unset;
  background-color: #7978D9;
  border-radius: 5px;
  padding: 12px 47px;
  margin-top: 43px;
  width: 100px;
  height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.container-login {
  background-color: #FFFFFF;
  width: 513px;
  padding: 55px 32px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login h1 {
  color: #7978D9;
  margin-bottom: 17px;
}

.form-login label {
  margin-top: 31px;
}

.form-login input {
  all: unset;
  margin-top: 8px;
  border: solid 1px rgba(85, 85, 85, 1);
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  width: 420px
}

.entrar {
  margin-top: 60px;
}